branches:
  only:
    - master

version: 1.0.{build}

pull_requests:
  do_not_increment_build_number: true

skip_tags: true

build:
  verbosity: minimal

deploy: off

services:
  - mssql2016

cache:
  - '%TEMP%\verifier\gems'

init:
  - ps: $PSVersionTable

install:
  - ps: . { iwr -useb https://omnitruck.chef.io/install.ps1 } | iex; install -channel stable -project chefdk -version 3.8.14
  - SET PATH=C:\opscode\chefdk\bin;%PATH%

before_build:
  - chef gem install bundler -v 2.0.2
  - chef exec bundle install --without development
  - copy .kitchen.appveyor.yml .kitchen.yml

build_script:
  - chef exec kitchen converge

test_script:
  - chef exec inspec exec test/integration/**/*.rb
